<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-403">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Can't Find What You're Looking For?</h2>
            <p class="cs-text">
                Can't find the part you're looking for? Call us or fill out the form below! We have thousands of rare and hard-to-find motorcycle parts, many no longer made and only available here.
            </p>
            <a href="" class="cs-button-solid">Call Us Now</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/workingonmotor.jpg?updatedAt=1740498389579">
        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/workingonmotor.jpg?updatedAt=1740498389579">
        <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/workingonmotor.jpg?updatedAt=1740498389579" alt="cleaner" width="1920" height="660" aria-hidden="true">
    </picture>
</section>
                                                               
<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1184">
    
    <div class="cs-container">
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tools.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tools.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/tools.jpg" alt="tools" width="637" height="726">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Tell Us What You Need!</h2>
            <!--Form-->
            <form class="cs-form" id="cs-form-1184" name="Contact Form" method="post">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-1184" name="name" placeholder="Name">
                </label>
                <label class="cs-label cs-email">
                    Email
                    <input class="cs-input" required type="email" id="email-1184" name="email" placeholder="Email">
                </label>
                <label class="cs-label cs-phone">
                    Phone
                    <input class="cs-input" required type="phone" id="phone-1184" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label">
                    What are you looking for?
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-1184" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Send Request</button>
            </form>
        </div>
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechaninc29.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechaninc29.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechaninc29.jpg" alt=",mechanic" width="637" height="726">
        </picture>
    </div>
</section>
                                