<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-403">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Can't Find What You're Looking For?</h2>
            <p class="cs-text">
                Can't find the part you're looking for? Call us or fill out the form below! We have thousands of rare and hard-to-find motorcycle parts, many no longer made and only available here.
            </p>
            <a href="tel:918-835-8215" class="cs-button-solid">Call Us Now</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/workingonmotor.jpg?updatedAt=1740498389579">
        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/workingonmotor.jpg?updatedAt=1740498389579">
        <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/workingonmotor.jpg?updatedAt=1740498389579" alt="cleaner" width="1920" height="660" aria-hidden="true">
    </picture>
</section>
                    


<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-64">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20">
                <span class="cs-name">Gordon Baker</span>
                <span class="cs-desc">Satisfied Customer</span>
                <p class="cs-item-text">
                    Quick, well done service with an old school flare!
They got my tire mounted, and I was on my way in no time!
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20">
                <span class="cs-name">Manuel Cabrera</span>
                <span class="cs-desc">Satisfied Customer</span>
                <p class="cs-item-text">
                    Awesome shop has new and a lot of used parts, with fair pricing excellent service with a service department with Tulsa"s best motorcycle mechanic's a parts manager with unbelievable knowledge of all bikes,the owners are friendly and on site.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="profile" width="116" height="20">
                <span class="cs-name">Trevor P</span>
                <span class="cs-desc">Satisfied Customer</span>
                <p class="cs-item-text">
                    Took my boys bike here. We were very impressed with the level of personal, knowledgeable service. Had a lot of time consuming maintenance and repairs to be done. I thought pricing was fair & honest. We will use them again.
                </p>
            </li>
        </ul>
        <a aria-label="read more reviews" href="/contact" class="cs-button-solid">Contact Us</a>
    </div>
</section>
                                